<div>
  <a routerLink="user" routerLinkActive="active">Novo</a>
  <ul>
    <li *ngFor="let item of results">
      Nome Completo: {{ item.name }}<br />| CPF: {{ item.cpf }}<br />| E-mail:
      {{ item.email }}<br />| Idade: {{ item.age }}<br />|Telefone:
      {{ item.phone }}<br />
      |
      {{ item.zipcode }}<br />
      |
      {{ item.street }}<br />
      |
      {{ item.housenumber }}<br />
      |
      {{ item.complement }}<br />
      <a routerLink="user/{{ item.id }}" routerLinkActive="active">Ver Perfil</a
      ><br />
      <button (click)="delete(item.id)">Delete</button>
    </li>
  </ul>
</div>
